html { font-size:14px; }
h1, .g1-h1 { font-size:43px; }
h2, .g1-h2 { font-size:27px; }
h3, .g1-h3 { font-size:22px; }
h4, .g1-h4 { font-size:18px; }
h5, .g1-h5 { font-size:14px; }
h6, .g1-h6 { font-size:14px; }
h1, .g1-h1, h2, .g1-h2, h3, .g1-h3, .g1-button--big, .g1-numbers__title, .g1-searchbox input, .g1-nav--collapsed #g1-primary-nav-menu .g1-type-tile .g1-submenus .g1-nav-item__title { font-family:"Open Sans";font-weight:300; }
body, input, select, textarea { font-family:"Open Sans"; }
.g1-meta { font-family:"Open Sans"; }
#g1-primary-nav-menu > li > a > .g1-nav-item__title { font-family:"Open Sans"; }
/* logo on left, menu on right */
#g1-id {
    float:left;
}
#g1-primary-nav {
    margin-right:-10px;
    float:right;
}
#g1-preheader > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
#g1-header > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
#g1-precontent > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
#g1-content > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
#g1-prefooter > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
#g1-footer > .g1-background {
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    -ms-border-radius:0 0 0 0;
    -o-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
input,
select,
textarea,
pre code,
.g1-button,
a.button,
button.button,
input.button,
.g1-message,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.g1-placeholder,
.g1-frame--inherit > .g1-decorator,
.g1-quote--solid > .g1-inner,
.g1-box:before,
.g1-box__inner,
.g1-toggle__switch,
.g1-table--solid,
.shop_table:before,
.woocommerce .images .zoom,
.g1-tabs--simple,
.g1-tabs--simple > div,
.g1-chat-row,
.g1-side-nav,
.gallery-icon,
.g1-countdown i,
.countdown_section span,
.g1-banda img,
.g1-nav--mobile #g1-secondary-nav-menu,
#lang_sel ul ul,
.g1-twitter--simple .g1-twitter__items,
.g1-gmap__box > .g1-inner,
.g1-isotope-filters,
.g1-isotope-filters > div,
.g1-mediabox--featured-media .g1-mediabox__item,
.g1-mediabox--list .g1-mediabox__item,
.g1-mediabox--slider .g1-carousel,
.g1-slide__title > .g1-background,
.g1-slide__description > .g1-background,
.g1-simple-slider .g1-fullscreen a,
.tp-caption,
.g1-nav--expanded #g1-primary-nav-menu:before,
.g1-nav--expanded #g1-primary-nav-menu:after,
.g1-nav--simple #g1-primary-nav-menu > .current_page_ancestor > a,
.g1-nav--simple #g1-primary-nav-menu > .current_page_parent > a,
.g1-nav--simple #g1-primary-nav-menu > .current_page_item > a,
#g1-primary-nav-menu > .g1-type-tile .g1-submenus,
#g1-primary-nav-menu > .g1-type-column .g1-submenus,
#g1-primary-nav-menu > .g1-type-drops ul,
.g1-searchbox #searchform,
.g1-cartbox .g1-cartbox__box,
.entry-featured-media,
#payment,
#payment .payment_box {
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
}
.g1-gmap-wrapper .g1-pan-control {
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -ms-border-radius:5px 5px 0 0;
    -o-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.g1-gmap-wrapper .g1-zoom-control {
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
#wp-calendar tbody tr:first-child > td:first-child,
.g1-table--solid thead tr:first-of-type th:first-child,
.shop_table thead tr:first-of-type th:first-child {
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -ms-border-top-left-radius:5px;
    -o-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
#wp-calendar tbody tr:first-child > td:last-child,
.g1-table--solid thead tr:first-of-type th:last-child,
.shop_table thead tr:first-of-type th:last-child {
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    -ms-border-top-right-radius:5px;
    -o-border-top-right-radius:5px;
    border-top-right-radius:5px;
}
#wp-calendar tbody tr:last-child > td:first-child,
.g1-table--solid tr:last-of-type td:first-child,
.g1-table--solid tr:last-of-type th:first-child,
.shop_table tr:last-of-type td:first-child,
.shop_table tr:last-of-type th:first-child {
    -webkit-border-bottom-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -ms-border-bottom-left-radius:5px;
    -o-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}
#wp-calendar tbody tr:last-child > td:last-child,
.g1-table--solid tr:last-of-type td:last-child,
.g1-table--solid tr:last-of-type th:last-child,
.shop_table tr:last-of-type td:last-child,
.shop_table tr:last-of-type th:last-child {
    -webkit-border-bottom-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -ms-border-bottom-right-radius:5px;
    -o-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.g1-indicator:before,
.g1-quote figcaption img,
.g1-quote__image,
.avatar,
.g1-banda__handle span,
.g1-twitter .g1-nav-direction__next,
.g1-html-rotator .g1-nav-direction__next,
#wp-calendar #next a,
#wp-calendar #next span,
.g1-mediabox--slider .g1-nav-direction__next,
.tp-rightarrow.default,
.g1-simple-slider-simple .g1-nav-direction__next,
.g1-simple-slider-kenburns .g1-nav-direction__next,
.g1-simple-slider-standout .g1-nav-direction__next,
.g1-simple-slider-relay .g1-nav-direction__next,
#g1-back-to-top,
.galleria-exit-button,
.entry-featured-media .g1-nav-direction__next,
.g1-pagination a.next,
.widget_rss .widgettitle a.rsswidget:first-child {
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
}
.g1-twitter .g1-nav-direction__prev,
.g1-html-rotator .g1-nav-direction__prev,
#wp-calendar #prev a,
#wp-calendar #prev span,
.g1-mediabox--slider .g1-nav-direction__prev,
.g1-mediabox--slider .g1-nav-coin li,
.tp-leftarrow.default,
.g1-simple-slider-simple .g1-nav-direction__prev,
.g1-simple-slider-kenburns .g1-nav-direction__prev,
.g1-simple-slider-standout .g1-nav-direction__prev,
.g1-simple-slider-relay .g1-nav-direction__prev,
.entry-featured-media .g1-nav-direction__prev,
.g1-pagination a.prev {
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
}
#g1-primary-nav-switch {
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
}
/* cs_1_background */
#g1-preheader .g1-table--solid tbody td,
#g1-preheader .shop_table tbody td,
#g1-preheader .g1-box--simple  .g1-box__icon,
#g1-preheader .g1-box--simple  .g1-box__inner,
#g1-preheader .g1-box--solid  .g1-box__inner,
#g1-preheader .g1-tabs--simple > div,
#g1-preheader .g1-gmap__box > .g1-inner,
#g1-preheader .g1-isotope-filters > div,
#g1-preheader .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-preheader .g1-collection--gallery .entry-featured-media,
#g1-preheader .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-preheader .g1-collection--masonry .g1-nonmedia,
#g1-preheader .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-preheader .g1-cartbox__box > .g1-inner,
#g1-preheader .widget_price_filter .ui-slider-handle,
#g1-preheader #payment .payment_box {
    background-color:#ffffff;

}
#g1-preheader section,
#g1-preheader aside,
#g1-preheader article,
#g1-preheader header,
#g1-preheader nav,
#g1-preheader div,
#g1-preheader p,
#g1-preheader span,
#g1-preheader figure,
#g1-preheader blockquote,
#g1-preheader ul,
#g1-preheader ol,
#g1-preheader li,
#g1-preheader a,
#g1-preheader table,
#g1-preheader td,
#g1-preheader th,
#g1-preheader hr,
#g1-preheader form,
#g1-preheader select,
#g1-preheader input,
#g1-preheader textarea,
#g1-preheader .g1-divider span:before,
#g1-preheader .g1-divider span:after,
#g1-preheader .g1-button--divider:before,
#g1-preheader .g1-button--divider:after,
#g1-preheader .g1-tabs--simple .g1-tabs-nav-item,
#g1-preheader .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-preheader .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-preheader .entry-header:after,
#g1-preheader .archive-header:after,
#g1-preheader .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-preheader .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#e6e6e6;

}
#g1-preheader .g1-progress-bar--solid .g1-progress-bar__track,
#g1-preheader .g1-twitter--simple .g1-twitter__items:before,
#g1-preheader .g1-quote--solid > .g1-inner:before {
    border-color:#f2f2f2;

}
#g1-preheader pre code,
#g1-preheader .g1-twitter--simple .g1-twitter__items,
#g1-preheader .g1-quote--solid > .g1-inner,
#g1-preheader .g1-quote__image,
#g1-preheader .g1-box--simple:before,
#g1-preheader .g1-box--solid:before,
#g1-preheader .countdown_section span,
#g1-preheader .g1-placeholder,
#g1-preheader .g1-table--solid,
#g1-preheader .shop_table:before,
#g1-preheader .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-preheader .g1-progress-bar--solid .g1-progress-bar__track,
#g1-preheader .g1-tabs--simple,
#g1-preheader .g1-collection--masonry article,
#g1-preheader .g1-isotope-filters,
#g1-preheader .g1-side-nav .children,
#g1-preheader #wp-calendar #prev span,
#g1-preheader #wp-calendar #next span,
#g1-preheader #wp-calendar tbody td,
#g1-preheader .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-preheader .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-preheader .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-preheader .woocommerce-message,
#g1-preheader .woocommerce-info,
#g1-preheader .woocommerce-error,
#g1-preheader #payment {
    background-color:#f2f2f2;

}
#g1-preheader .g1-divider i,
#g1-preheader .g1-duplicate i,
#g1-preheader .g1-form-pass-protected:before,
#g1-preheader .g1-replies h2:before,
#g1-preheader #reply-title:before,
#g1-preheader .comment.parent > article:before,
#g1-preheader .comment.parent > .children > .comment:before,
#g1-preheader .comment.parent > .children > .comment:after {
    color:#cccccc;

}
#g1-preheader .countdown_section:first-child span,
#g1-preheader #wp-calendar tbody td + td + td + td + td + td,
#g1-preheader .g1-cartbox__box {
    background-color:#e6e6e6;

}
#g1-preheader .g1-icon--solid,
#g1-preheader #wp-calendar #prev span,
#g1-preheader #wp-calendar #next span {
    color:#ffffff;

}
#g1-preheader .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#ffffff;

}
#g1-preheader > .g1-background {
    background-color:#ffffff;

}
/* cs_1_text1 */
#g1-preheader h1,
#g1-preheader h2,
#g1-preheader h3,
#g1-preheader h4,
#g1-preheader h5,
#g1-preheader h6,
#g1-preheader .g1-meta a:hover,
#g1-preheader .g1-button--simple,
#g1-preheader .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-preheader .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-preheader .g1-side-nav a:hover,
#g1-preheader .g1-pagination .prev,
#g1-preheader .g1-pagination .next,
#g1-preheader .countdown_section:first-child,
#g1-preheader .g1-simple-slider .g1-fullscreen > a,
#g1-preheader .g1-widget a:hover,
#g1-preheader .g1-nav-item__switch {
    color:#000000;

}
#g1-preheader .g1-button--simple,
#g1-preheader .g1-toggle--simple .g1-toggle__switch,
#g1-preheader .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-preheader .g1-pagination .prev,
#g1-preheader .g1-pagination .next,
#g1-preheader .g1-simple-slider .g1-fullscreen > a,
#g1-preheader .g1-nav-item__switch {
    border-color:#000000;

}
/* cs_1_text2 */
#g1-preheader ,
#g1-preheader .g1-regular,
#g1-preheader h1 + h3,
#g1-preheader h1 + h4,
#g1-preheader h1 + h5,
#g1-preheader h1 + h6,
#g1-preheader h2 + h4,
#g1-preheader h2 + h5,
#g1-preheader h2 + h6,
#g1-preheader h3 + h5,
#g1-preheader h3 + h6,
#g1-preheader h4 + h6,
#g1-preheader .g1-h1 + h3,
#g1-preheader .g1-h1 + h4,
#g1-preheader .g1-h1 + h5,
#g1-preheader .g1-h1 + h6,
#g1-preheader .g1-h2 + h4,
#g1-preheader .g1-h2 + h5,
#g1-preheader .g1-h2 + h6,
#g1-preheader .g1-h3 + h5,
#g1-preheader .g1-h3 + h6,
#g1-preheader .g1-h4 + h6,
#g1-preheader .g1-meta a,
#g1-preheader .g1-side-nav a,
#g1-preheader .g1-duplicator--simple .g1-duplicate--active i,
#g1-preheader .g1-isotope-filter > a,
#g1-preheader .g1-widget-list a,
#g1-preheader .g1-searchbox__switch,
#g1-preheader .g1-cartbox__switch {
    color:#666666;

}
#g1-preheader .g1-icon--solid {
    background-color:#666666;

}
#g1-preheader .g1-icon--solid {
    border-color:#666666;

}
/* cs_1_text3 */
#g1-preheader .g1-meta {
    color:#999999;

}
#g1-preheader .g1-dropdown > li + li:before,
#g1-preheader .g1-dropdown > li + li:after,
#g1-preheader .entry-categories li + li:before,
#g1-preheader .entry-categories li + li:after,
#g1-preheader .g1-footer-menu li + li:before,
#g1-preheader .g1-footer-menu li + li:after {
    border-color:#999999;

}
/* cs_1_link */
#g1-preheader a {
    color:#fb4400;

}
/* cs_1_link_hover */
#g1-preheader a:hover {
    color:#000000;

}
/* cs_2_background */
#g1-preheader .g1-divider--simple:before,
#g1-preheader .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-preheader .gallery-icon > a:before,
#g1-preheader .g1-collection--gallery article:before,
#g1-preheader .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-preheader .g1-dropcap--solid,
#g1-preheader .g1-button--solid,
#g1-preheader a.button,
#g1-preheader button.button,
#g1-preheader input.button,
#g1-preheader .g1-frame--solid > .g1-decorator,
#g1-preheader .g1-toggle--solid .g1-toggle__switch,
#g1-preheader .g1-indicator:before,
#g1-preheader .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-preheader .g1-progress-circle .g1-color-scheme,
#g1-preheader .g1-countdown i,
#g1-preheader .g1-box--solid .g1-box__icon,
#g1-preheader .g1-banda__handle span,
#g1-preheader .g1-banda--smooth .g1-banda__handle,
#g1-preheader .g1-isotope-filter--current:before,
#g1-preheader .g1-simple-slider .g1-progress > div > div,
#g1-preheader .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-preheader .g1-simple-slider .g1-nav-direction__prev,
#g1-preheader .g1-simple-slider .g1-nav-direction__next,
#g1-preheader .g1-mediabox--slider .g1-nav-coin a:before,
#g1-preheader .g1-searchbox .g1-outer,
#g1-preheader .g1-gmap-wrapper .g1-pan-control,
#g1-preheader .g1-gmap-wrapper .g1-full-map-control,
#g1-preheader #wp-calendar #prev a,
#g1-preheader #wp-calendar #next a,
#g1-preheader .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-preheader #lang_sel ul ul li,
#g1-preheader #g1-primary-nav-switch,
#g1-preheader .widget_price_filter .ui-slider .ui-slider-range {
    background-color:#fb4400;

}
#g1-preheader .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#fb4400;

}
#g1-preheader .g1-button--solid,
#g1-preheader a.button,
#g1-preheader button.button,
#g1-preheader input.button,
#g1-preheader .g1-frame--solid > .g1-decorator,
#g1-preheader .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-preheader .g1-toggle--solid .g1-toggle__switch,
#g1-preheader .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-preheader .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-preheader .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-preheader .g1-box--solid .g1-box__icon,
#g1-preheader .author-info:before,
#g1-preheader .g1-related-entries:before,
#g1-preheader .g1-replies:before,
#g1-preheader #respond:before,
#g1-preheader .upsells:before,
#g1-preheader .related:before,
#g1-preheader #secondary .widget + .widget:before,
#g1-preheader #g1-primary-nav-switch,
#g1-preheader .widget_price_filter .ui-slider-handle {
    border-color:#fb4400;

}
#g1-preheader .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#fb4400;

}
#g1-preheader mark,
#g1-preheader .g1-button:hover,
#g1-preheader a.button:hover,
#g1-preheader button.button:hover,
#g1-preheader input.button:hover,
#g1-preheader .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#952800;

}
#g1-preheader .g1-button:hover,
#g1-preheader a.button:hover,
#g1-preheader button.button:hover,
#g1-preheader input.button:hover,
#g1-preheader .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#952800;

}
{
    border-color:#fb4400;

}
#g1-preheader .g1-list--simple .g1-list__icon,
#g1-preheader .g1-duplicator--solid .g1-duplicate--active i,
#g1-preheader .g1-numbers__icon {
    color:#fb4400;

}
#g1-preheader .g1-gmap-wrapper .g1-zoom-control,
#g1-preheader .g1-nav--mobile #g1-secondary-nav-menu,
#g1-preheader #lang_sel ul ul,
#g1-preheader .g1-searchbox #searchform,
#g1-preheader .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-preheader .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-preheader .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#ff672e;

}
#g1-preheader .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-preheader .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-preheader #lang_sel ul ul li,
#g1-preheader #lang_sel ul ul:before,
#g1-preheader .g1-searchbox__switch .g1-searchbox__arrow,
#g1-preheader .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-preheader .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#ff672e;

}
/* cs_2_text1 */
#g1-preheader mark,
#g1-preheader .g1-dropcap--solid,
#g1-preheader .g1-indicator:after,
#g1-preheader .g1-button--solid,
#g1-preheader .g1-button--solid:hover,
#g1-preheader .g1-button--simple:hover,
#g1-preheader a.button,
#g1-preheader button.button,
#g1-preheader input.button,
#g1-preheader .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-preheader .g1-toggle--solid .g1-toggle__switch,
#g1-preheader .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-preheader .g1-progress-circle--solid,
#g1-preheader .g1-countdown i,
#g1-preheader .g1-box--solid .g1-box__icon,
#g1-preheader .g1-banda__handle span,
#g1-preheader .g1-simple-slider .g1-fullscreen > a:hover,
#g1-preheader .g1-simple-slider .g1-nav-direction__prev,
#g1-preheader .g1-simple-slider .g1-nav-direction__next,
#g1-preheader .g1-mediabox--slider .g1-nav-coin a:after,
#g1-preheader .gallery-icon > a:after,
#g1-preheader .g1-searchbox #s,
#g1-preheader .g1-searchbox .g1-form-actions:before,
#g1-preheader .g1-gmap-wrapper .g1-pan-control,
#g1-preheader .g1-gmap-wrapper .g1-zoom-control,
#g1-preheader .g1-gmap-wrapper .g1-full-map-control a,
#g1-preheader .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-preheader #lang_sel ul ul a,
#g1-preheader #g1-primary-nav-switch,
#g1-preheader #wp-calendar #prev a:after,
#g1-preheader #wp-calendar #next a:after {
    color:#ffffff;

}
#g1-preheader .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-preheader .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-preheader .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-preheader .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
{
    background-color:#ffffff;

}
#g1-preheader .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-preheader .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* cs_1_background */
#g1-header .g1-table--solid tbody td,
#g1-header .shop_table tbody td,
#g1-header .g1-box--simple  .g1-box__icon,
#g1-header .g1-box--simple  .g1-box__inner,
#g1-header .g1-box--solid  .g1-box__inner,
#g1-header .g1-tabs--simple > div,
#g1-header .g1-gmap__box > .g1-inner,
#g1-header .g1-isotope-filters > div,
#g1-header .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-header .g1-collection--gallery .entry-featured-media,
#g1-header .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-header .g1-collection--masonry .g1-nonmedia,
#g1-header .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-header .g1-cartbox__box > .g1-inner,
#g1-header .widget_price_filter .ui-slider-handle,
#g1-header #payment .payment_box {
    background-color:#ffffff;

}
#g1-header section,
#g1-header aside,
#g1-header article,
#g1-header header,
#g1-header nav,
#g1-header div,
#g1-header p,
#g1-header span,
#g1-header figure,
#g1-header blockquote,
#g1-header ul,
#g1-header ol,
#g1-header li,
#g1-header a,
#g1-header table,
#g1-header td,
#g1-header th,
#g1-header hr,
#g1-header form,
#g1-header select,
#g1-header input,
#g1-header textarea,
#g1-header .g1-divider span:before,
#g1-header .g1-divider span:after,
#g1-header .g1-button--divider:before,
#g1-header .g1-button--divider:after,
#g1-header .g1-tabs--simple .g1-tabs-nav-item,
#g1-header .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-header .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-header .entry-header:after,
#g1-header .archive-header:after,
#g1-header .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-header .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#e6e6e6;

}
#g1-header .g1-progress-bar--solid .g1-progress-bar__track,
#g1-header .g1-twitter--simple .g1-twitter__items:before,
#g1-header .g1-quote--solid > .g1-inner:before {
    border-color:#f2f2f2;

}
#g1-header pre code,
#g1-header .g1-twitter--simple .g1-twitter__items,
#g1-header .g1-quote--solid > .g1-inner,
#g1-header .g1-quote__image,
#g1-header .g1-box--simple:before,
#g1-header .g1-box--solid:before,
#g1-header .countdown_section span,
#g1-header .g1-placeholder,
#g1-header .g1-table--solid,
#g1-header .shop_table:before,
#g1-header .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-header .g1-progress-bar--solid .g1-progress-bar__track,
#g1-header .g1-tabs--simple,
#g1-header .g1-collection--masonry article,
#g1-header .g1-isotope-filters,
#g1-header .g1-side-nav .children,
#g1-header #wp-calendar #prev span,
#g1-header #wp-calendar #next span,
#g1-header #wp-calendar tbody td,
#g1-header .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-header .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-header .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-header .woocommerce-message,
#g1-header .woocommerce-info,
#g1-header .woocommerce-error,
#g1-header #payment {
    background-color:#f2f2f2;

}
#g1-header .g1-divider i,
#g1-header .g1-duplicate i,
#g1-header .g1-form-pass-protected:before,
#g1-header .g1-replies h2:before,
#g1-header #reply-title:before,
#g1-header .comment.parent > article:before,
#g1-header .comment.parent > .children > .comment:before,
#g1-header .comment.parent > .children > .comment:after {
    color:#cccccc;

}
#g1-header .countdown_section:first-child span,
#g1-header #wp-calendar tbody td + td + td + td + td + td,
#g1-header .g1-cartbox__box {
    background-color:#e6e6e6;

}
#g1-header .g1-icon--solid,
#g1-header #wp-calendar #prev span,
#g1-header #wp-calendar #next span {
    color:#ffffff;

}
#g1-header .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#ffffff;

}
#g1-header > .g1-background {
    background-color:#ffffff;

}
/* cs_1_text1 */
#g1-header h1,
#g1-header h2,
#g1-header h3,
#g1-header h4,
#g1-header h5,
#g1-header h6,
#g1-header .g1-meta a:hover,
#g1-header .g1-button--simple,
#g1-header .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-header .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-header .g1-side-nav a:hover,
#g1-header .g1-pagination .prev,
#g1-header .g1-pagination .next,
#g1-header .countdown_section:first-child,
#g1-header .g1-simple-slider .g1-fullscreen > a,
#g1-header .g1-widget a:hover,
#g1-header .g1-nav-item__switch {
    color:#000000;

}
#g1-header .g1-button--simple,
#g1-header .g1-toggle--simple .g1-toggle__switch,
#g1-header .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-header .g1-pagination .prev,
#g1-header .g1-pagination .next,
#g1-header .g1-simple-slider .g1-fullscreen > a,
#g1-header .g1-nav-item__switch {
    border-color:#000000;

}
/* cs_1_text2 */
#g1-header ,
#g1-header .g1-regular,
#g1-header h1 + h3,
#g1-header h1 + h4,
#g1-header h1 + h5,
#g1-header h1 + h6,
#g1-header h2 + h4,
#g1-header h2 + h5,
#g1-header h2 + h6,
#g1-header h3 + h5,
#g1-header h3 + h6,
#g1-header h4 + h6,
#g1-header .g1-h1 + h3,
#g1-header .g1-h1 + h4,
#g1-header .g1-h1 + h5,
#g1-header .g1-h1 + h6,
#g1-header .g1-h2 + h4,
#g1-header .g1-h2 + h5,
#g1-header .g1-h2 + h6,
#g1-header .g1-h3 + h5,
#g1-header .g1-h3 + h6,
#g1-header .g1-h4 + h6,
#g1-header .g1-meta a,
#g1-header .g1-side-nav a,
#g1-header .g1-duplicator--simple .g1-duplicate--active i,
#g1-header .g1-isotope-filter > a,
#g1-header .g1-widget-list a,
#g1-header .g1-searchbox__switch,
#g1-header .g1-cartbox__switch,
.g1-nav--unstyled.g1-nav--collapsed #g1-primary-nav-menu > li > a {
    color:#666666;

}
#g1-header .g1-icon--solid {
    background-color:#666666;

}
#g1-header .g1-icon--solid {
    border-color:#666666;

}
/* cs_1_text3 */
#g1-header .g1-meta {
    color:#999999;

}
#g1-header .g1-dropdown > li + li:before,
#g1-header .g1-dropdown > li + li:after,
#g1-header .entry-categories li + li:before,
#g1-header .entry-categories li + li:after,
#g1-header .g1-footer-menu li + li:before,
#g1-header .g1-footer-menu li + li:after {
    border-color:#999999;

}
/* cs_1_link */
#g1-header a,
.g1-nav--unstyled.g1-nav--collapsed #g1-primary-nav-menu > .current_page_ancestor > a,
.g1-nav--unstyled.g1-nav--collapsed #g1-primary-nav-menu > .current_page_parent > a,
.g1-nav--unstyled.g1-nav--collapsed #g1-primary-nav-menu > .current_page_item > a {
    color:#fb4400;

}
/* cs_1_link_hover */
#g1-header a:hover {
    color:#000000;

}
/* cs_2_background */
#g1-header .g1-divider--simple:before,
#g1-header .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-header .gallery-icon > a:before,
#g1-header .g1-collection--gallery article:before,
#g1-header .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-header .g1-dropcap--solid,
#g1-header .g1-button--solid,
#g1-header a.button,
#g1-header button.button,
#g1-header input.button,
#g1-header .g1-frame--solid > .g1-decorator,
#g1-header .g1-toggle--solid .g1-toggle__switch,
#g1-header .g1-indicator:before,
#g1-header .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-header .g1-progress-circle .g1-color-scheme,
#g1-header .g1-countdown i,
#g1-header .g1-box--solid .g1-box__icon,
#g1-header .g1-banda__handle span,
#g1-header .g1-banda--smooth .g1-banda__handle,
#g1-header .g1-isotope-filter--current:before,
#g1-header .g1-simple-slider .g1-progress > div > div,
#g1-header .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-header .g1-simple-slider .g1-nav-direction__prev,
#g1-header .g1-simple-slider .g1-nav-direction__next,
#g1-header .g1-mediabox--slider .g1-nav-coin a:before,
#g1-header .g1-searchbox .g1-outer,
#g1-header .g1-gmap-wrapper .g1-pan-control,
#g1-header .g1-gmap-wrapper .g1-full-map-control,
#g1-header #wp-calendar #prev a,
#g1-header #wp-calendar #next a,
#g1-header .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-header #lang_sel ul ul li,
#g1-header #g1-primary-nav-switch,
#g1-header .widget_price_filter .ui-slider .ui-slider-range,
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-column .g1-submenus:before,
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-tile .g1-submenus a,
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-drops .g1-submenus a {
    background-color:#94949c;

}
#g1-header .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#94949c;

}
#g1-header .g1-button--solid,
#g1-header a.button,
#g1-header button.button,
#g1-header input.button,
#g1-header .g1-frame--solid > .g1-decorator,
#g1-header .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-header .g1-toggle--solid .g1-toggle__switch,
#g1-header .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-header .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-header .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-header .g1-box--solid .g1-box__icon,
#g1-header .author-info:before,
#g1-header .g1-related-entries:before,
#g1-header .g1-replies:before,
#g1-header #respond:before,
#g1-header .upsells:before,
#g1-header .related:before,
#g1-header #secondary .widget + .widget:before,
#g1-header #g1-primary-nav-switch,
#g1-header .widget_price_filter .ui-slider-handle {
    border-color:#94949c;

}
#g1-header .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#94949c;

}
#g1-header mark,
#g1-header .g1-button:hover,
#g1-header a.button:hover,
#g1-header button.button:hover,
#g1-header input.button:hover,
#g1-header .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#616169;

}
#g1-header .g1-button:hover,
#g1-header a.button:hover,
#g1-header button.button:hover,
#g1-header input.button:hover,
#g1-header .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#616169;

}
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-tile .g1-submenus a {
    border-color:#94949c;

}
#g1-header .g1-list--simple .g1-list__icon,
#g1-header .g1-duplicator--solid .g1-duplicate--active i,
#g1-header .g1-numbers__icon,
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-tile .g1-submenus a:hover {
    color:#94949c;

}
#g1-header .g1-gmap-wrapper .g1-zoom-control,
#g1-header .g1-nav--mobile #g1-secondary-nav-menu,
#g1-header #lang_sel ul ul,
#g1-header .g1-searchbox #searchform,
#g1-header .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-header .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-header .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#7b7b84;

}
#g1-header .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-header .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-header #lang_sel ul ul li,
#g1-header #lang_sel ul ul:before,
#g1-header .g1-searchbox__switch .g1-searchbox__arrow,
#g1-header .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-header .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#7b7b84;

}
/* cs_2_text1 */
#g1-header mark,
#g1-header .g1-dropcap--solid,
#g1-header .g1-indicator:after,
#g1-header .g1-button--solid,
#g1-header .g1-button--solid:hover,
#g1-header .g1-button--simple:hover,
#g1-header a.button,
#g1-header button.button,
#g1-header input.button,
#g1-header .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-header .g1-toggle--solid .g1-toggle__switch,
#g1-header .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-header .g1-progress-circle--solid,
#g1-header .g1-countdown i,
#g1-header .g1-box--solid .g1-box__icon,
#g1-header .g1-banda__handle span,
#g1-header .g1-simple-slider .g1-fullscreen > a:hover,
#g1-header .g1-simple-slider .g1-nav-direction__prev,
#g1-header .g1-simple-slider .g1-nav-direction__next,
#g1-header .g1-mediabox--slider .g1-nav-coin a:after,
#g1-header .gallery-icon > a:after,
#g1-header .g1-searchbox #s,
#g1-header .g1-searchbox .g1-form-actions:before,
#g1-header .g1-gmap-wrapper .g1-pan-control,
#g1-header .g1-gmap-wrapper .g1-zoom-control,
#g1-header .g1-gmap-wrapper .g1-full-map-control a,
#g1-header .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-header #lang_sel ul ul a,
#g1-header #g1-primary-nav-switch,
#g1-header #wp-calendar #prev a:after,
#g1-header #wp-calendar #next a:after,
.g1-nav--collapsed #g1-primary-nav-menu .g1-submenus a {
    color:#ffffff;

}
#g1-header .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-header .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-header .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-header .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
.g1-nav--collapsed #g1-primary-nav-menu .g1-type-tile .g1-submenus a:hover {
    background-color:#ffffff;

}
#g1-header .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-header .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* cs_1_background */
#g1-precontent .g1-table--solid tbody td,
#g1-precontent .shop_table tbody td,
#g1-precontent .g1-box--simple  .g1-box__icon,
#g1-precontent .g1-box--simple  .g1-box__inner,
#g1-precontent .g1-box--solid  .g1-box__inner,
#g1-precontent .g1-tabs--simple > div,
#g1-precontent .g1-gmap__box > .g1-inner,
#g1-precontent .g1-isotope-filters > div,
#g1-precontent .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-precontent .g1-collection--gallery .entry-featured-media,
#g1-precontent .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-precontent .g1-collection--masonry .g1-nonmedia,
#g1-precontent .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-precontent .g1-cartbox__box > .g1-inner,
#g1-precontent .widget_price_filter .ui-slider-handle,
#g1-precontent #payment .payment_box {
    background-color:#fb4400;

}
#g1-precontent section,
#g1-precontent aside,
#g1-precontent article,
#g1-precontent header,
#g1-precontent nav,
#g1-precontent div,
#g1-precontent p,
#g1-precontent span,
#g1-precontent figure,
#g1-precontent blockquote,
#g1-precontent ul,
#g1-precontent ol,
#g1-precontent li,
#g1-precontent a,
#g1-precontent table,
#g1-precontent td,
#g1-precontent th,
#g1-precontent hr,
#g1-precontent form,
#g1-precontent select,
#g1-precontent input,
#g1-precontent textarea,
#g1-precontent .g1-divider span:before,
#g1-precontent .g1-divider span:after,
#g1-precontent .g1-button--divider:before,
#g1-precontent .g1-button--divider:after,
#g1-precontent .g1-tabs--simple .g1-tabs-nav-item,
#g1-precontent .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-precontent .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-precontent .entry-header:after,
#g1-precontent .archive-header:after,
#g1-precontent .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-precontent .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#ff672e;

}
#g1-precontent .g1-progress-bar--solid .g1-progress-bar__track,
#g1-precontent .g1-twitter--simple .g1-twitter__items:before,
#g1-precontent .g1-quote--solid > .g1-inner:before {
    border-color:#ff5516;

}
#g1-precontent pre code,
#g1-precontent .g1-twitter--simple .g1-twitter__items,
#g1-precontent .g1-quote--solid > .g1-inner,
#g1-precontent .g1-quote__image,
#g1-precontent .g1-box--simple:before,
#g1-precontent .g1-box--solid:before,
#g1-precontent .countdown_section span,
#g1-precontent .g1-placeholder,
#g1-precontent .g1-table--solid,
#g1-precontent .shop_table:before,
#g1-precontent .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-precontent .g1-progress-bar--solid .g1-progress-bar__track,
#g1-precontent .g1-tabs--simple,
#g1-precontent .g1-collection--masonry article,
#g1-precontent .g1-isotope-filters,
#g1-precontent .g1-side-nav .children,
#g1-precontent #wp-calendar #prev span,
#g1-precontent #wp-calendar #next span,
#g1-precontent #wp-calendar tbody td,
#g1-precontent .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-precontent .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-precontent .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-precontent .woocommerce-message,
#g1-precontent .woocommerce-info,
#g1-precontent .woocommerce-error,
#g1-precontent #payment {
    background-color:#ff5516;

}
#g1-precontent .g1-divider i,
#g1-precontent .g1-duplicate i,
#g1-precontent .g1-form-pass-protected:before,
#g1-precontent .g1-replies h2:before,
#g1-precontent #reply-title:before,
#g1-precontent .comment.parent > article:before,
#g1-precontent .comment.parent > .children > .comment:before,
#g1-precontent .comment.parent > .children > .comment:after {
    color:#ff8d62;

}
#g1-precontent .countdown_section:first-child span,
#g1-precontent #wp-calendar tbody td + td + td + td + td + td,
#g1-precontent .g1-cartbox__box {
    background-color:#ff672e;

}
#g1-precontent .g1-icon--solid,
#g1-precontent #wp-calendar #prev span,
#g1-precontent #wp-calendar #next span {
    color:#fb4400;

}
#g1-precontent .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#fb4400;

}
#g1-precontent > .g1-background {
    background-color:#fb4400;

}
/* cs_1_text1 */
#g1-precontent h1,
#g1-precontent h2,
#g1-precontent h3,
#g1-precontent h4,
#g1-precontent h5,
#g1-precontent h6,
#g1-precontent .g1-meta a:hover,
#g1-precontent .g1-button--simple,
#g1-precontent .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-precontent .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-precontent .g1-side-nav a:hover,
#g1-precontent .g1-pagination .prev,
#g1-precontent .g1-pagination .next,
#g1-precontent .countdown_section:first-child,
#g1-precontent .g1-simple-slider .g1-fullscreen > a,
#g1-precontent .g1-widget a:hover,
#g1-precontent .g1-nav-item__switch {
    color:#ffffff;

}
#g1-precontent .g1-button--simple,
#g1-precontent .g1-toggle--simple .g1-toggle__switch,
#g1-precontent .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-precontent .g1-pagination .prev,
#g1-precontent .g1-pagination .next,
#g1-precontent .g1-simple-slider .g1-fullscreen > a,
#g1-precontent .g1-nav-item__switch {
    border-color:#ffffff;

}
/* cs_1_text2 */
#g1-precontent ,
#g1-precontent .g1-regular,
#g1-precontent h1 + h3,
#g1-precontent h1 + h4,
#g1-precontent h1 + h5,
#g1-precontent h1 + h6,
#g1-precontent h2 + h4,
#g1-precontent h2 + h5,
#g1-precontent h2 + h6,
#g1-precontent h3 + h5,
#g1-precontent h3 + h6,
#g1-precontent h4 + h6,
#g1-precontent .g1-h1 + h3,
#g1-precontent .g1-h1 + h4,
#g1-precontent .g1-h1 + h5,
#g1-precontent .g1-h1 + h6,
#g1-precontent .g1-h2 + h4,
#g1-precontent .g1-h2 + h5,
#g1-precontent .g1-h2 + h6,
#g1-precontent .g1-h3 + h5,
#g1-precontent .g1-h3 + h6,
#g1-precontent .g1-h4 + h6,
#g1-precontent .g1-meta a,
#g1-precontent .g1-side-nav a,
#g1-precontent .g1-duplicator--simple .g1-duplicate--active i,
#g1-precontent .g1-isotope-filter > a,
#g1-precontent .g1-widget-list a,
#g1-precontent .g1-searchbox__switch,
#g1-precontent .g1-cartbox__switch {
    color:#fedad4;

}
#g1-precontent .g1-icon--solid {
    background-color:#fedad4;

}
#g1-precontent .g1-icon--solid {
    border-color:#fedad4;

}
/* cs_1_text3 */
#g1-precontent .g1-meta {
    color:#fdb2a3;

}
#g1-precontent .g1-dropdown > li + li:before,
#g1-precontent .g1-dropdown > li + li:after,
#g1-precontent .entry-categories li + li:before,
#g1-precontent .entry-categories li + li:after,
#g1-precontent .g1-footer-menu li + li:before,
#g1-precontent .g1-footer-menu li + li:after {
    border-color:#fdb2a3;

}
/* cs_1_link */
#g1-precontent a {
    color:#000000;

}
/* cs_2_background */
#g1-precontent .g1-divider--simple:before,
#g1-precontent .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-precontent .gallery-icon > a:before,
#g1-precontent .g1-collection--gallery article:before,
#g1-precontent .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-precontent .g1-dropcap--solid,
#g1-precontent .g1-button--solid,
#g1-precontent a.button,
#g1-precontent button.button,
#g1-precontent input.button,
#g1-precontent .g1-frame--solid > .g1-decorator,
#g1-precontent .g1-toggle--solid .g1-toggle__switch,
#g1-precontent .g1-indicator:before,
#g1-precontent .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-precontent .g1-progress-circle .g1-color-scheme,
#g1-precontent .g1-countdown i,
#g1-precontent .g1-box--solid .g1-box__icon,
#g1-precontent .g1-banda__handle span,
#g1-precontent .g1-banda--smooth .g1-banda__handle,
#g1-precontent .g1-isotope-filter--current:before,
#g1-precontent .g1-simple-slider .g1-progress > div > div,
#g1-precontent .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-precontent .g1-simple-slider .g1-nav-direction__prev,
#g1-precontent .g1-simple-slider .g1-nav-direction__next,
#g1-precontent .g1-mediabox--slider .g1-nav-coin a:before,
#g1-precontent .g1-searchbox .g1-outer,
#g1-precontent .g1-gmap-wrapper .g1-pan-control,
#g1-precontent .g1-gmap-wrapper .g1-full-map-control,
#g1-precontent #wp-calendar #prev a,
#g1-precontent #wp-calendar #next a,
#g1-precontent .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-precontent #lang_sel ul ul li,
#g1-precontent #g1-primary-nav-switch,
#g1-precontent .widget_price_filter .ui-slider .ui-slider-range {
    background-color:#000000;

}
#g1-precontent .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#000000;

}
#g1-precontent .g1-button--solid,
#g1-precontent a.button,
#g1-precontent button.button,
#g1-precontent input.button,
#g1-precontent .g1-frame--solid > .g1-decorator,
#g1-precontent .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-precontent .g1-toggle--solid .g1-toggle__switch,
#g1-precontent .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-precontent .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-precontent .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-precontent .g1-box--solid .g1-box__icon,
#g1-precontent .author-info:before,
#g1-precontent .g1-related-entries:before,
#g1-precontent .g1-replies:before,
#g1-precontent #respond:before,
#g1-precontent .upsells:before,
#g1-precontent .related:before,
#g1-precontent #secondary .widget + .widget:before,
#g1-precontent #g1-primary-nav-switch,
#g1-precontent .widget_price_filter .ui-slider-handle {
    border-color:#000000;

}
#g1-precontent .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#000000;

}
#g1-precontent mark,
#g1-precontent .g1-button:hover,
#g1-precontent a.button:hover,
#g1-precontent button.button:hover,
#g1-precontent input.button:hover,
#g1-precontent .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#333333;

}
#g1-precontent .g1-button:hover,
#g1-precontent a.button:hover,
#g1-precontent button.button:hover,
#g1-precontent input.button:hover,
#g1-precontent .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#333333;

}
{
    border-color:#000000;

}
#g1-precontent .g1-list--simple .g1-list__icon,
#g1-precontent .g1-duplicator--solid .g1-duplicate--active i,
#g1-precontent .g1-numbers__icon {
    color:#000000;

}
#g1-precontent .g1-gmap-wrapper .g1-zoom-control,
#g1-precontent .g1-nav--mobile #g1-secondary-nav-menu,
#g1-precontent #lang_sel ul ul,
#g1-precontent .g1-searchbox #searchform,
#g1-precontent .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-precontent .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-precontent .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#1a1a1a;

}
#g1-precontent .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-precontent .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-precontent #lang_sel ul ul li,
#g1-precontent #lang_sel ul ul:before,
#g1-precontent .g1-searchbox__switch .g1-searchbox__arrow,
#g1-precontent .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-precontent .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#1a1a1a;

}
/* cs_2_text1 */
#g1-precontent mark,
#g1-precontent .g1-dropcap--solid,
#g1-precontent .g1-indicator:after,
#g1-precontent .g1-button--solid,
#g1-precontent .g1-button--solid:hover,
#g1-precontent .g1-button--simple:hover,
#g1-precontent a.button,
#g1-precontent button.button,
#g1-precontent input.button,
#g1-precontent .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-precontent .g1-toggle--solid .g1-toggle__switch,
#g1-precontent .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-precontent .g1-progress-circle--solid,
#g1-precontent .g1-countdown i,
#g1-precontent .g1-box--solid .g1-box__icon,
#g1-precontent .g1-banda__handle span,
#g1-precontent .g1-simple-slider .g1-fullscreen > a:hover,
#g1-precontent .g1-simple-slider .g1-nav-direction__prev,
#g1-precontent .g1-simple-slider .g1-nav-direction__next,
#g1-precontent .g1-mediabox--slider .g1-nav-coin a:after,
#g1-precontent .gallery-icon > a:after,
#g1-precontent .g1-searchbox #s,
#g1-precontent .g1-searchbox .g1-form-actions:before,
#g1-precontent .g1-gmap-wrapper .g1-pan-control,
#g1-precontent .g1-gmap-wrapper .g1-zoom-control,
#g1-precontent .g1-gmap-wrapper .g1-full-map-control a,
#g1-precontent .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-precontent #lang_sel ul ul a,
#g1-precontent #g1-primary-nav-switch,
#g1-precontent #wp-calendar #prev a:after,
#g1-precontent #wp-calendar #next a:after {
    color:#ffffff;

}
#g1-precontent .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-precontent .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-precontent .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-precontent .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
{
    background-color:#ffffff;

}
#g1-precontent .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-precontent .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* cs_1_background */
#g1-content .g1-table--solid tbody td,
#g1-content .shop_table tbody td,
#g1-content .g1-box--simple  .g1-box__icon,
#g1-content .g1-box--simple  .g1-box__inner,
#g1-content .g1-box--solid  .g1-box__inner,
#g1-content .g1-tabs--simple > div,
#g1-content .g1-gmap__box > .g1-inner,
#g1-content .g1-isotope-filters > div,
#g1-content .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-content .g1-collection--gallery .entry-featured-media,
#g1-content .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-content .g1-collection--masonry .g1-nonmedia,
#g1-content .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-content .g1-cartbox__box > .g1-inner,
#g1-content .widget_price_filter .ui-slider-handle,
#g1-content #payment .payment_box {
    background-color:#ffffff;

}
#g1-content section,
#g1-content aside,
#g1-content article,
#g1-content header,
#g1-content nav,
#g1-content div,
#g1-content p,
#g1-content span,
#g1-content figure,
#g1-content blockquote,
#g1-content ul,
#g1-content ol,
#g1-content li,
#g1-content a,
#g1-content table,
#g1-content td,
#g1-content th,
#g1-content hr,
#g1-content form,
#g1-content select,
#g1-content input,
#g1-content textarea,
#g1-content .g1-divider span:before,
#g1-content .g1-divider span:after,
#g1-content .g1-button--divider:before,
#g1-content .g1-button--divider:after,
#g1-content .g1-tabs--simple .g1-tabs-nav-item,
#g1-content .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-content .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-content .entry-header:after,
#g1-content .archive-header:after,
#g1-content .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-content .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#e6e6e6;

}
#g1-content .g1-progress-bar--solid .g1-progress-bar__track,
#g1-content .g1-twitter--simple .g1-twitter__items:before,
#g1-content .g1-quote--solid > .g1-inner:before {
    border-color:#f2f2f2;

}
#g1-content pre code,
#g1-content .g1-twitter--simple .g1-twitter__items,
#g1-content .g1-quote--solid > .g1-inner,
#g1-content .g1-quote__image,
#g1-content .g1-box--simple:before,
#g1-content .g1-box--solid:before,
#g1-content .countdown_section span,
#g1-content .g1-placeholder,
#g1-content .g1-table--solid,
#g1-content .shop_table:before,
#g1-content .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-content .g1-progress-bar--solid .g1-progress-bar__track,
#g1-content .g1-tabs--simple,
#g1-content .g1-collection--masonry article,
#g1-content .g1-isotope-filters,
#g1-content .g1-side-nav .children,
#g1-content #wp-calendar #prev span,
#g1-content #wp-calendar #next span,
#g1-content #wp-calendar tbody td,
#g1-content .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-content .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-content .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-content .woocommerce-message,
#g1-content .woocommerce-info,
#g1-content .woocommerce-error,
#g1-content #payment {
    background-color:#f2f2f2;

}
#g1-content .g1-divider i,
#g1-content .g1-duplicate i,
#g1-content .g1-form-pass-protected:before,
#g1-content .g1-replies h2:before,
#g1-content #reply-title:before,
#g1-content .comment.parent > article:before,
#g1-content .comment.parent > .children > .comment:before,
#g1-content .comment.parent > .children > .comment:after {
    color:#cccccc;

}
#g1-content .countdown_section:first-child span,
#g1-content #wp-calendar tbody td + td + td + td + td + td,
#g1-content .g1-cartbox__box {
    background-color:#e6e6e6;

}
#g1-content .g1-icon--solid,
#g1-content #wp-calendar #prev span,
#g1-content #wp-calendar #next span {
    color:#ffffff;

}
#g1-content .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#ffffff;

}
#g1-content > .g1-background {
    background-color:#ffffff;

}
/* cs_1_text1 */
#g1-content h1,
#g1-content h2,
#g1-content h3,
#g1-content h4,
#g1-content h5,
#g1-content h6,
#g1-content .g1-meta a:hover,
#g1-content .g1-button--simple,
#g1-content .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-content .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-content .g1-side-nav a:hover,
#g1-content .g1-pagination .prev,
#g1-content .g1-pagination .next,
#g1-content .countdown_section:first-child,
#g1-content .g1-simple-slider .g1-fullscreen > a,
#g1-content .g1-widget a:hover,
#g1-content .g1-nav-item__switch {
    color:#000000;

}
#g1-content .g1-button--simple,
#g1-content .g1-toggle--simple .g1-toggle__switch,
#g1-content .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-content .g1-pagination .prev,
#g1-content .g1-pagination .next,
#g1-content .g1-simple-slider .g1-fullscreen > a,
#g1-content .g1-nav-item__switch {
    border-color:#000000;

}
/* cs_1_text2 */
#g1-content ,
#g1-content .g1-regular,
#g1-content h1 + h3,
#g1-content h1 + h4,
#g1-content h1 + h5,
#g1-content h1 + h6,
#g1-content h2 + h4,
#g1-content h2 + h5,
#g1-content h2 + h6,
#g1-content h3 + h5,
#g1-content h3 + h6,
#g1-content h4 + h6,
#g1-content .g1-h1 + h3,
#g1-content .g1-h1 + h4,
#g1-content .g1-h1 + h5,
#g1-content .g1-h1 + h6,
#g1-content .g1-h2 + h4,
#g1-content .g1-h2 + h5,
#g1-content .g1-h2 + h6,
#g1-content .g1-h3 + h5,
#g1-content .g1-h3 + h6,
#g1-content .g1-h4 + h6,
#g1-content .g1-meta a,
#g1-content .g1-side-nav a,
#g1-content .g1-duplicator--simple .g1-duplicate--active i,
#g1-content .g1-isotope-filter > a,
#g1-content .g1-widget-list a,
#g1-content .g1-searchbox__switch,
#g1-content .g1-cartbox__switch {
    color:#666666;

}
#g1-content .g1-icon--solid {
    background-color:#666666;

}
#g1-content .g1-icon--solid {
    border-color:#666666;

}
/* cs_1_text3 */
#g1-content .g1-meta {
    color:#999999;

}
#g1-content .g1-dropdown > li + li:before,
#g1-content .g1-dropdown > li + li:after,
#g1-content .entry-categories li + li:before,
#g1-content .entry-categories li + li:after,
#g1-content .g1-footer-menu li + li:before,
#g1-content .g1-footer-menu li + li:after {
    border-color:#999999;

}
/* cs_1_link */
#g1-content a {
    color:#fb4400;

}
/* cs_1_link_hover */
#g1-content a:hover {
    color:#000000;

}
/* cs_2_background */
#g1-content .g1-divider--simple:before,
#g1-content .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-content .gallery-icon > a:before,
#g1-content .g1-collection--gallery article:before,
#g1-content .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-content .g1-dropcap--solid,
#g1-content .g1-button--solid,
#g1-content a.button,
#g1-content button.button,
#g1-content input.button,
#g1-content .g1-frame--solid > .g1-decorator,
#g1-content .g1-toggle--solid .g1-toggle__switch,
#g1-content .g1-indicator:before,
#g1-content .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-content .g1-progress-circle .g1-color-scheme,
#g1-content .g1-countdown i,
#g1-content .g1-box--solid .g1-box__icon,
#g1-content .g1-banda__handle span,
#g1-content .g1-banda--smooth .g1-banda__handle,
#g1-content .g1-isotope-filter--current:before,
#g1-content .g1-simple-slider .g1-progress > div > div,
#g1-content .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-content .g1-simple-slider .g1-nav-direction__prev,
#g1-content .g1-simple-slider .g1-nav-direction__next,
#g1-content .g1-mediabox--slider .g1-nav-coin a:before,
#g1-content .g1-searchbox .g1-outer,
#g1-content .g1-gmap-wrapper .g1-pan-control,
#g1-content .g1-gmap-wrapper .g1-full-map-control,
#g1-content #wp-calendar #prev a,
#g1-content #wp-calendar #next a,
#g1-content .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-content #lang_sel ul ul li,
#g1-content #g1-primary-nav-switch,
#g1-content .widget_price_filter .ui-slider .ui-slider-range {
    background-color:#fb4400;

}
#g1-content .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#fb4400;

}
#g1-content .g1-button--solid,
#g1-content a.button,
#g1-content button.button,
#g1-content input.button,
#g1-content .g1-frame--solid > .g1-decorator,
#g1-content .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-content .g1-toggle--solid .g1-toggle__switch,
#g1-content .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-content .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-content .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-content .g1-box--solid .g1-box__icon,
#g1-content .author-info:before,
#g1-content .g1-related-entries:before,
#g1-content .g1-replies:before,
#g1-content #respond:before,
#g1-content .upsells:before,
#g1-content .related:before,
#g1-content #secondary .widget + .widget:before,
#g1-content #g1-primary-nav-switch,
#g1-content .widget_price_filter .ui-slider-handle {
    border-color:#fb4400;

}
#g1-content .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#fb4400;

}
#g1-content mark,
#g1-content .g1-button:hover,
#g1-content a.button:hover,
#g1-content button.button:hover,
#g1-content input.button:hover,
#g1-content .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#952800;

}
#g1-content .g1-button:hover,
#g1-content a.button:hover,
#g1-content button.button:hover,
#g1-content input.button:hover,
#g1-content .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#952800;

}
{
    border-color:#fb4400;

}
#g1-content .g1-list--simple .g1-list__icon,
#g1-content .g1-duplicator--solid .g1-duplicate--active i,
#g1-content .g1-numbers__icon {
    color:#fb4400;

}
#g1-content .g1-gmap-wrapper .g1-zoom-control,
#g1-content .g1-nav--mobile #g1-secondary-nav-menu,
#g1-content #lang_sel ul ul,
#g1-content .g1-searchbox #searchform,
#g1-content .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-content .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-content .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#ff672e;

}
#g1-content .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-content .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-content #lang_sel ul ul li,
#g1-content #lang_sel ul ul:before,
#g1-content .g1-searchbox__switch .g1-searchbox__arrow,
#g1-content .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-content .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#ff672e;

}
/* cs_2_text1 */
#g1-content mark,
#g1-content .g1-dropcap--solid,
#g1-content .g1-indicator:after,
#g1-content .g1-button--solid,
#g1-content .g1-button--solid:hover,
#g1-content .g1-button--simple:hover,
#g1-content a.button,
#g1-content button.button,
#g1-content input.button,
#g1-content .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-content .g1-toggle--solid .g1-toggle__switch,
#g1-content .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-content .g1-progress-circle--solid,
#g1-content .g1-countdown i,
#g1-content .g1-box--solid .g1-box__icon,
#g1-content .g1-banda__handle span,
#g1-content .g1-simple-slider .g1-fullscreen > a:hover,
#g1-content .g1-simple-slider .g1-nav-direction__prev,
#g1-content .g1-simple-slider .g1-nav-direction__next,
#g1-content .g1-mediabox--slider .g1-nav-coin a:after,
#g1-content .gallery-icon > a:after,
#g1-content .g1-searchbox #s,
#g1-content .g1-searchbox .g1-form-actions:before,
#g1-content .g1-gmap-wrapper .g1-pan-control,
#g1-content .g1-gmap-wrapper .g1-zoom-control,
#g1-content .g1-gmap-wrapper .g1-full-map-control a,
#g1-content .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-content #lang_sel ul ul a,
#g1-content #g1-primary-nav-switch,
#g1-content #wp-calendar #prev a:after,
#g1-content #wp-calendar #next a:after {
    color:#ffffff;

}
#g1-content .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-content .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-content .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-content .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
{
    background-color:#ffffff;

}
#g1-content .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-content .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* cs_1_background */
#g1-prefooter .g1-table--solid tbody td,
#g1-prefooter .shop_table tbody td,
#g1-prefooter .g1-box--simple  .g1-box__icon,
#g1-prefooter .g1-box--simple  .g1-box__inner,
#g1-prefooter .g1-box--solid  .g1-box__inner,
#g1-prefooter .g1-tabs--simple > div,
#g1-prefooter .g1-gmap__box > .g1-inner,
#g1-prefooter .g1-isotope-filters > div,
#g1-prefooter .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-prefooter .g1-collection--gallery .entry-featured-media,
#g1-prefooter .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-prefooter .g1-collection--masonry .g1-nonmedia,
#g1-prefooter .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-prefooter .g1-cartbox__box > .g1-inner,
#g1-prefooter .widget_price_filter .ui-slider-handle,
#g1-prefooter #payment .payment_box {
    background-color:#333333;

}
#g1-prefooter section,
#g1-prefooter aside,
#g1-prefooter article,
#g1-prefooter header,
#g1-prefooter nav,
#g1-prefooter div,
#g1-prefooter p,
#g1-prefooter span,
#g1-prefooter figure,
#g1-prefooter blockquote,
#g1-prefooter ul,
#g1-prefooter ol,
#g1-prefooter li,
#g1-prefooter a,
#g1-prefooter table,
#g1-prefooter td,
#g1-prefooter th,
#g1-prefooter hr,
#g1-prefooter form,
#g1-prefooter select,
#g1-prefooter input,
#g1-prefooter textarea,
#g1-prefooter .g1-divider span:before,
#g1-prefooter .g1-divider span:after,
#g1-prefooter .g1-button--divider:before,
#g1-prefooter .g1-button--divider:after,
#g1-prefooter .g1-tabs--simple .g1-tabs-nav-item,
#g1-prefooter .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-prefooter .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-prefooter .entry-header:after,
#g1-prefooter .archive-header:after,
#g1-prefooter .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-prefooter .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#4d4d4d;

}
#g1-prefooter .g1-progress-bar--solid .g1-progress-bar__track,
#g1-prefooter .g1-twitter--simple .g1-twitter__items:before,
#g1-prefooter .g1-quote--solid > .g1-inner:before {
    border-color:#404040;

}
#g1-prefooter pre code,
#g1-prefooter .g1-twitter--simple .g1-twitter__items,
#g1-prefooter .g1-quote--solid > .g1-inner,
#g1-prefooter .g1-quote__image,
#g1-prefooter .g1-box--simple:before,
#g1-prefooter .g1-box--solid:before,
#g1-prefooter .countdown_section span,
#g1-prefooter .g1-placeholder,
#g1-prefooter .g1-table--solid,
#g1-prefooter .shop_table:before,
#g1-prefooter .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-prefooter .g1-progress-bar--solid .g1-progress-bar__track,
#g1-prefooter .g1-tabs--simple,
#g1-prefooter .g1-collection--masonry article,
#g1-prefooter .g1-isotope-filters,
#g1-prefooter .g1-side-nav .children,
#g1-prefooter #wp-calendar #prev span,
#g1-prefooter #wp-calendar #next span,
#g1-prefooter #wp-calendar tbody td,
#g1-prefooter .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-prefooter .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-prefooter .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-prefooter .woocommerce-message,
#g1-prefooter .woocommerce-info,
#g1-prefooter .woocommerce-error,
#g1-prefooter #payment {
    background-color:#404040;

}
#g1-prefooter .g1-divider i,
#g1-prefooter .g1-duplicate i,
#g1-prefooter .g1-form-pass-protected:before,
#g1-prefooter .g1-replies h2:before,
#g1-prefooter #reply-title:before,
#g1-prefooter .comment.parent > article:before,
#g1-prefooter .comment.parent > .children > .comment:before,
#g1-prefooter .comment.parent > .children > .comment:after {
    color:#666666;

}
#g1-prefooter .countdown_section:first-child span,
#g1-prefooter #wp-calendar tbody td + td + td + td + td + td,
#g1-prefooter .g1-cartbox__box {
    background-color:#4d4d4d;

}
#g1-prefooter .g1-icon--solid,
#g1-prefooter #wp-calendar #prev span,
#g1-prefooter #wp-calendar #next span {
    color:#333333;

}
#g1-prefooter .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#333333;

}
#g1-prefooter > .g1-background {
    background-color:#333333;

}
/* cs_1_text1 */
#g1-prefooter h1,
#g1-prefooter h2,
#g1-prefooter h3,
#g1-prefooter h4,
#g1-prefooter h5,
#g1-prefooter h6,
#g1-prefooter .g1-meta a:hover,
#g1-prefooter .g1-button--simple,
#g1-prefooter .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-prefooter .g1-side-nav a:hover,
#g1-prefooter .g1-pagination .prev,
#g1-prefooter .g1-pagination .next,
#g1-prefooter .countdown_section:first-child,
#g1-prefooter .g1-simple-slider .g1-fullscreen > a,
#g1-prefooter .g1-widget a:hover,
#g1-prefooter .g1-nav-item__switch {
    color:#ffffff;

}
#g1-prefooter .g1-button--simple,
#g1-prefooter .g1-toggle--simple .g1-toggle__switch,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-prefooter .g1-pagination .prev,
#g1-prefooter .g1-pagination .next,
#g1-prefooter .g1-simple-slider .g1-fullscreen > a,
#g1-prefooter .g1-nav-item__switch {
    border-color:#ffffff;

}
/* cs_1_text2 */
#g1-prefooter ,
#g1-prefooter .g1-regular,
#g1-prefooter h1 + h3,
#g1-prefooter h1 + h4,
#g1-prefooter h1 + h5,
#g1-prefooter h1 + h6,
#g1-prefooter h2 + h4,
#g1-prefooter h2 + h5,
#g1-prefooter h2 + h6,
#g1-prefooter h3 + h5,
#g1-prefooter h3 + h6,
#g1-prefooter h4 + h6,
#g1-prefooter .g1-h1 + h3,
#g1-prefooter .g1-h1 + h4,
#g1-prefooter .g1-h1 + h5,
#g1-prefooter .g1-h1 + h6,
#g1-prefooter .g1-h2 + h4,
#g1-prefooter .g1-h2 + h5,
#g1-prefooter .g1-h2 + h6,
#g1-prefooter .g1-h3 + h5,
#g1-prefooter .g1-h3 + h6,
#g1-prefooter .g1-h4 + h6,
#g1-prefooter .g1-meta a,
#g1-prefooter .g1-side-nav a,
#g1-prefooter .g1-duplicator--simple .g1-duplicate--active i,
#g1-prefooter .g1-isotope-filter > a,
#g1-prefooter .g1-widget-list a,
#g1-prefooter .g1-searchbox__switch,
#g1-prefooter .g1-cartbox__switch {
    color:#999999;

}
#g1-prefooter .g1-icon--solid {
    background-color:#999999;

}
#g1-prefooter .g1-icon--solid {
    border-color:#999999;

}
/* cs_1_text3 */
#g1-prefooter .g1-meta {
    color:#666666;

}
#g1-prefooter .g1-dropdown > li + li:before,
#g1-prefooter .g1-dropdown > li + li:after,
#g1-prefooter .entry-categories li + li:before,
#g1-prefooter .entry-categories li + li:after,
#g1-prefooter .g1-footer-menu li + li:before,
#g1-prefooter .g1-footer-menu li + li:after {
    border-color:#666666;

}
/* cs_1_link */
#g1-prefooter a {
    color:#fb4400;

}
/* cs_1_link_hover */
#g1-prefooter a:hover {
    color:#ffffff;

}
/* cs_2_background */
#g1-prefooter .g1-divider--simple:before,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-prefooter .gallery-icon > a:before,
#g1-prefooter .g1-collection--gallery article:before,
#g1-prefooter .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-prefooter .g1-dropcap--solid,
#g1-prefooter .g1-button--solid,
#g1-prefooter a.button,
#g1-prefooter button.button,
#g1-prefooter input.button,
#g1-prefooter .g1-frame--solid > .g1-decorator,
#g1-prefooter .g1-toggle--solid .g1-toggle__switch,
#g1-prefooter .g1-indicator:before,
#g1-prefooter .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-prefooter .g1-progress-circle .g1-color-scheme,
#g1-prefooter .g1-countdown i,
#g1-prefooter .g1-box--solid .g1-box__icon,
#g1-prefooter .g1-banda__handle span,
#g1-prefooter .g1-banda--smooth .g1-banda__handle,
#g1-prefooter .g1-isotope-filter--current:before,
#g1-prefooter .g1-simple-slider .g1-progress > div > div,
#g1-prefooter .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-prefooter .g1-simple-slider .g1-nav-direction__prev,
#g1-prefooter .g1-simple-slider .g1-nav-direction__next,
#g1-prefooter .g1-mediabox--slider .g1-nav-coin a:before,
#g1-prefooter .g1-searchbox .g1-outer,
#g1-prefooter .g1-gmap-wrapper .g1-pan-control,
#g1-prefooter .g1-gmap-wrapper .g1-full-map-control,
#g1-prefooter #wp-calendar #prev a,
#g1-prefooter #wp-calendar #next a,
#g1-prefooter .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-prefooter #lang_sel ul ul li,
#g1-prefooter #g1-primary-nav-switch,
#g1-prefooter .widget_price_filter .ui-slider .ui-slider-range {
    background-color:#fb4400;

}
#g1-prefooter .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#fb4400;

}
#g1-prefooter .g1-button--solid,
#g1-prefooter a.button,
#g1-prefooter button.button,
#g1-prefooter input.button,
#g1-prefooter .g1-frame--solid > .g1-decorator,
#g1-prefooter .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-prefooter .g1-toggle--solid .g1-toggle__switch,
#g1-prefooter .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-prefooter .g1-box--solid .g1-box__icon,
#g1-prefooter .author-info:before,
#g1-prefooter .g1-related-entries:before,
#g1-prefooter .g1-replies:before,
#g1-prefooter #respond:before,
#g1-prefooter .upsells:before,
#g1-prefooter .related:before,
#g1-prefooter #secondary .widget + .widget:before,
#g1-prefooter #g1-primary-nav-switch,
#g1-prefooter .widget_price_filter .ui-slider-handle {
    border-color:#fb4400;

}
#g1-prefooter .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#fb4400;

}
#g1-prefooter mark,
#g1-prefooter .g1-button:hover,
#g1-prefooter a.button:hover,
#g1-prefooter button.button:hover,
#g1-prefooter input.button:hover,
#g1-prefooter .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#952800;

}
#g1-prefooter .g1-button:hover,
#g1-prefooter a.button:hover,
#g1-prefooter button.button:hover,
#g1-prefooter input.button:hover,
#g1-prefooter .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#952800;

}
{
    border-color:#fb4400;

}
#g1-prefooter .g1-list--simple .g1-list__icon,
#g1-prefooter .g1-duplicator--solid .g1-duplicate--active i,
#g1-prefooter .g1-numbers__icon {
    color:#fb4400;

}
#g1-prefooter .g1-gmap-wrapper .g1-zoom-control,
#g1-prefooter .g1-nav--mobile #g1-secondary-nav-menu,
#g1-prefooter #lang_sel ul ul,
#g1-prefooter .g1-searchbox #searchform,
#g1-prefooter .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-prefooter .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-prefooter .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#ff672e;

}
#g1-prefooter .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-prefooter .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-prefooter #lang_sel ul ul li,
#g1-prefooter #lang_sel ul ul:before,
#g1-prefooter .g1-searchbox__switch .g1-searchbox__arrow,
#g1-prefooter .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-prefooter .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#ff672e;

}
/* cs_2_text1 */
#g1-prefooter mark,
#g1-prefooter .g1-dropcap--solid,
#g1-prefooter .g1-indicator:after,
#g1-prefooter .g1-button--solid,
#g1-prefooter .g1-button--solid:hover,
#g1-prefooter .g1-button--simple:hover,
#g1-prefooter a.button,
#g1-prefooter button.button,
#g1-prefooter input.button,
#g1-prefooter .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-prefooter .g1-toggle--solid .g1-toggle__switch,
#g1-prefooter .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-prefooter .g1-progress-circle--solid,
#g1-prefooter .g1-countdown i,
#g1-prefooter .g1-box--solid .g1-box__icon,
#g1-prefooter .g1-banda__handle span,
#g1-prefooter .g1-simple-slider .g1-fullscreen > a:hover,
#g1-prefooter .g1-simple-slider .g1-nav-direction__prev,
#g1-prefooter .g1-simple-slider .g1-nav-direction__next,
#g1-prefooter .g1-mediabox--slider .g1-nav-coin a:after,
#g1-prefooter .gallery-icon > a:after,
#g1-prefooter .g1-searchbox #s,
#g1-prefooter .g1-searchbox .g1-form-actions:before,
#g1-prefooter .g1-gmap-wrapper .g1-pan-control,
#g1-prefooter .g1-gmap-wrapper .g1-zoom-control,
#g1-prefooter .g1-gmap-wrapper .g1-full-map-control a,
#g1-prefooter .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-prefooter #lang_sel ul ul a,
#g1-prefooter #g1-primary-nav-switch,
#g1-prefooter #wp-calendar #prev a:after,
#g1-prefooter #wp-calendar #next a:after {
    color:#ffffff;

}
#g1-prefooter .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-prefooter .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-prefooter .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-prefooter .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
{
    background-color:#ffffff;

}
#g1-prefooter .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-prefooter .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* cs_1_background */
#g1-footer .g1-table--solid tbody td,
#g1-footer .shop_table tbody td,
#g1-footer .g1-box--simple  .g1-box__icon,
#g1-footer .g1-box--simple  .g1-box__inner,
#g1-footer .g1-box--solid  .g1-box__inner,
#g1-footer .g1-tabs--simple > div,
#g1-footer .g1-gmap__box > .g1-inner,
#g1-footer .g1-isotope-filters > div,
#g1-footer .g1-slide[class*="layout-bubble-"] > .description > .g1-background,
#g1-footer .g1-collection--gallery .entry-featured-media,
#g1-footer .g1-collection--gallery .g1-nonmedia > .g1-inner,
#g1-footer .g1-collection--masonry .g1-nonmedia,
#g1-footer .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-footer .g1-cartbox__box > .g1-inner,
#g1-footer .widget_price_filter .ui-slider-handle,
#g1-footer #payment .payment_box {
    background-color:#262626;

}
#g1-footer section,
#g1-footer aside,
#g1-footer article,
#g1-footer header,
#g1-footer nav,
#g1-footer div,
#g1-footer p,
#g1-footer span,
#g1-footer figure,
#g1-footer blockquote,
#g1-footer ul,
#g1-footer ol,
#g1-footer li,
#g1-footer a,
#g1-footer table,
#g1-footer td,
#g1-footer th,
#g1-footer hr,
#g1-footer form,
#g1-footer select,
#g1-footer input,
#g1-footer textarea,
#g1-footer .g1-divider span:before,
#g1-footer .g1-divider span:after,
#g1-footer .g1-button--divider:before,
#g1-footer .g1-button--divider:after,
#g1-footer .g1-tabs--simple .g1-tabs-nav-item,
#g1-footer .g1-tabs--simple .g1-tabs-nav-item:before,
#g1-footer .g1-tabs--simple .g1-tabs-nav-item:after,
#g1-footer .entry-header:after,
#g1-footer .archive-header:after,
#g1-footer .g1-nav--expanded #g1-primary-nav-menu:after,
#g1-footer .g1-cartbox__switch .g1-cartbox__arrow {
    border-color:#404040;

}
#g1-footer .g1-progress-bar--solid .g1-progress-bar__track,
#g1-footer .g1-twitter--simple .g1-twitter__items:before,
#g1-footer .g1-quote--solid > .g1-inner:before {
    border-color:#333333;

}
#g1-footer pre code,
#g1-footer .g1-twitter--simple .g1-twitter__items,
#g1-footer .g1-quote--solid > .g1-inner,
#g1-footer .g1-quote__image,
#g1-footer .g1-box--simple:before,
#g1-footer .g1-box--solid:before,
#g1-footer .countdown_section span,
#g1-footer .g1-placeholder,
#g1-footer .g1-table--solid,
#g1-footer .shop_table:before,
#g1-footer .g1-progress-bar--simple .g1-progress-bar__bar,
#g1-footer .g1-progress-bar--solid .g1-progress-bar__track,
#g1-footer .g1-tabs--simple,
#g1-footer .g1-collection--masonry article,
#g1-footer .g1-isotope-filters,
#g1-footer .g1-side-nav .children,
#g1-footer #wp-calendar #prev span,
#g1-footer #wp-calendar #next span,
#g1-footer #wp-calendar tbody td,
#g1-footer .g1-chat.g1-authors-two .g1-chat-author-2,
#g1-footer .g1-nav--expanded #g1-primary-nav-menu:before,
#g1-footer .widget_price_filter .price_slider_wrapper .ui-widget-content,
#g1-footer .woocommerce-message,
#g1-footer .woocommerce-info,
#g1-footer .woocommerce-error,
#g1-footer #payment {
    background-color:#333333;

}
#g1-footer .g1-divider i,
#g1-footer .g1-duplicate i,
#g1-footer .g1-form-pass-protected:before,
#g1-footer .g1-replies h2:before,
#g1-footer #reply-title:before,
#g1-footer .comment.parent > article:before,
#g1-footer .comment.parent > .children > .comment:before,
#g1-footer .comment.parent > .children > .comment:after {
    color:#595959;

}
#g1-footer .countdown_section:first-child span,
#g1-footer #wp-calendar tbody td + td + td + td + td + td,
#g1-footer .g1-cartbox__box {
    background-color:#404040;

}
#g1-footer .g1-icon--solid,
#g1-footer #wp-calendar #prev span,
#g1-footer #wp-calendar #next span {
    color:#262626;

}
#g1-footer .g1-collection--gallery .g1-nonmedia > .g1-inner:after {
    border-color:#262626;

}
#g1-footer > .g1-background {
    background-color:#262626;

}
/* cs_1_text1 */
#g1-footer h1,
#g1-footer h2,
#g1-footer h3,
#g1-footer h4,
#g1-footer h5,
#g1-footer h6,
#g1-footer .g1-meta a:hover,
#g1-footer .g1-button--simple,
#g1-footer .g1-toggle--simple .g1-toggle__swit.g1-isotope-filtersch,
#g1-footer .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-footer .g1-side-nav a:hover,
#g1-footer .g1-pagination .prev,
#g1-footer .g1-pagination .next,
#g1-footer .countdown_section:first-child,
#g1-footer .g1-simple-slider .g1-fullscreen > a,
#g1-footer .g1-widget a:hover,
#g1-footer .g1-nav-item__switch,
#g1-footer-nav-menu > li > a:hover {
    color:#ffffff;

}
#g1-footer .g1-button--simple,
#g1-footer .g1-toggle--simple .g1-toggle__switch,
#g1-footer .g1-tabs--button .g1-tabs-nav-item .g1-tab-title,
#g1-footer .g1-pagination .prev,
#g1-footer .g1-pagination .next,
#g1-footer .g1-simple-slider .g1-fullscreen > a,
#g1-footer .g1-nav-item__switch {
    border-color:#ffffff;

}
/* cs_1_text2 */
#g1-footer ,
#g1-footer .g1-regular,
#g1-footer h1 + h3,
#g1-footer h1 + h4,
#g1-footer h1 + h5,
#g1-footer h1 + h6,
#g1-footer h2 + h4,
#g1-footer h2 + h5,
#g1-footer h2 + h6,
#g1-footer h3 + h5,
#g1-footer h3 + h6,
#g1-footer h4 + h6,
#g1-footer .g1-h1 + h3,
#g1-footer .g1-h1 + h4,
#g1-footer .g1-h1 + h5,
#g1-footer .g1-h1 + h6,
#g1-footer .g1-h2 + h4,
#g1-footer .g1-h2 + h5,
#g1-footer .g1-h2 + h6,
#g1-footer .g1-h3 + h5,
#g1-footer .g1-h3 + h6,
#g1-footer .g1-h4 + h6,
#g1-footer .g1-meta a,
#g1-footer .g1-side-nav a,
#g1-footer .g1-duplicator--simple .g1-duplicate--active i,
#g1-footer .g1-isotope-filter > a,
#g1-footer .g1-widget-list a,
#g1-footer .g1-searchbox__switch,
#g1-footer .g1-cartbox__switch,
#g1-footer-nav-menu > li > a {
    color:#999999;

}
#g1-footer .g1-icon--solid {
    background-color:#999999;

}
#g1-footer .g1-icon--solid {
    border-color:#999999;

}
/* cs_1_text3 */
#g1-footer .g1-meta {
    color:#666666;

}
#g1-footer .g1-dropdown > li + li:before,
#g1-footer .g1-dropdown > li + li:after,
#g1-footer .entry-categories li + li:before,
#g1-footer .entry-categories li + li:after,
#g1-footer .g1-footer-menu li + li:before,
#g1-footer .g1-footer-menu li + li:after {
    border-color:#666666;

}
/* cs_1_link */
#g1-footer a {
    color:#fb4400;

}
/* cs_1_link_hover */
#g1-footer a:hover {
    color:#ffffff;

}
/* cs_2_background */
#g1-footer .g1-divider--simple:before,
#g1-footer .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-footer .gallery-icon > a:before,
#g1-footer .g1-collection--gallery article:before,
#g1-footer .g1-collection--gallery .g1-nonmedia > .g1-01,
#g1-footer .g1-dropcap--solid,
#g1-footer .g1-button--solid,
#g1-footer a.button,
#g1-footer button.button,
#g1-footer input.button,
#g1-footer .g1-frame--solid > .g1-decorator,
#g1-footer .g1-toggle--solid .g1-toggle__switch,
#g1-footer .g1-indicator:before,
#g1-footer .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-footer .g1-progress-circle .g1-color-scheme,
#g1-footer .g1-countdown i,
#g1-footer .g1-box--solid .g1-box__icon,
#g1-footer .g1-banda__handle span,
#g1-footer .g1-banda--smooth .g1-banda__handle,
#g1-footer .g1-isotope-filter--current:before,
#g1-footer .g1-simple-slider .g1-progress > div > div,
#g1-footer .g1-simple-slider.g1-nav-coin-thumbs .g1-nav-coin .g1-selected a:before,
#g1-footer .g1-simple-slider .g1-nav-direction__prev,
#g1-footer .g1-simple-slider .g1-nav-direction__next,
#g1-footer .g1-mediabox--slider .g1-nav-coin a:before,
#g1-footer .g1-searchbox .g1-outer,
#g1-footer .g1-gmap-wrapper .g1-pan-control,
#g1-footer .g1-gmap-wrapper .g1-full-map-control,
#g1-footer #wp-calendar #prev a,
#g1-footer #wp-calendar #next a,
#g1-footer .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-footer #lang_sel ul ul li,
#g1-footer #g1-primary-nav-switch,
#g1-footer .widget_price_filter .ui-slider .ui-slider-range {
    background-color:#fb4400;

}
#g1-footer .g1-progress-circle--simple .g1-color-scheme {
    outline-color:#fb4400;

}
#g1-footer .g1-button--solid,
#g1-footer a.button,
#g1-footer button.button,
#g1-footer input.button,
#g1-footer .g1-frame--solid > .g1-decorator,
#g1-footer .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-footer .g1-toggle--solid .g1-toggle__switch,
#g1-footer .g1-tabs--simple .g1-tabs-nav-current-item .g1-tab-title:before,
#g1-footer .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-footer .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title:after,
#g1-footer .g1-box--solid .g1-box__icon,
#g1-footer .author-info:before,
#g1-footer .g1-related-entries:before,
#g1-footer .g1-replies:before,
#g1-footer #respond:before,
#g1-footer .upsells:before,
#g1-footer .related:before,
#g1-footer #secondary .widget + .widget:before,
#g1-footer #g1-primary-nav-switch,
#g1-footer .widget_price_filter .ui-slider-handle {
    border-color:#fb4400;

}
#g1-footer .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title {
    background-color:#fb4400;

}
#g1-footer mark,
#g1-footer .g1-button:hover,
#g1-footer a.button:hover,
#g1-footer button.button:hover,
#g1-footer input.button:hover,
#g1-footer .g1-simple-slider .g1-fullscreen > a:hover {
    background-color:#952800;

}
#g1-footer .g1-button:hover,
#g1-footer a.button:hover,
#g1-footer button.button:hover,
#g1-footer input.button:hover,
#g1-footer .g1-simple-slider .g1-fullscreen > a:hover {
    border-color:#952800;

}
{
    border-color:#fb4400;

}
#g1-footer .g1-list--simple .g1-list__icon,
#g1-footer .g1-duplicator--solid .g1-duplicate--active i,
#g1-footer .g1-numbers__icon {
    color:#fb4400;

}
#g1-footer .g1-gmap-wrapper .g1-zoom-control,
#g1-footer .g1-nav--mobile #g1-secondary-nav-menu,
#g1-footer #lang_sel ul ul,
#g1-footer .g1-searchbox #searchform,
#g1-footer .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-drops ul,
#g1-footer .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-tile > .g1-submenus,
#g1-footer .g1-nav--collapsed #g1-primary-nav-menu > .g1-type-column > .g1-submenus {
    background-color:#ff672e;

}
#g1-footer .g1-nav--mobile #g1-secondary-nav-menu > li,
#g1-footer .g1-nav--mobile #g1-secondary-nav-menu:before,
#g1-footer #lang_sel ul ul li,
#g1-footer #lang_sel ul ul:before,
#g1-footer .g1-searchbox__switch .g1-searchbox__arrow,
#g1-footer .g1-nav--collapsed #g1-primary-nav-menu > li > a .g1-nav-item__arrow,
#g1-footer .g1-nav--collapsed #g1-primary-nav-menu > li.g1-type-drops li {
    border-color:#ff672e;

}
/* cs_2_text1 */
#g1-footer mark,
#g1-footer .g1-dropcap--solid,
#g1-footer .g1-indicator:after,
#g1-footer .g1-button--solid,
#g1-footer .g1-button--solid:hover,
#g1-footer .g1-button--simple:hover,
#g1-footer a.button,
#g1-footer button.button,
#g1-footer input.button,
#g1-footer .g1-tabs--button .g1-tabs-nav-current-item .g1-tab-title,
#g1-footer .g1-toggle--solid .g1-toggle__switch,
#g1-footer .g1-progress-bar--solid .g1-progress-bar__bar,
#g1-footer .g1-progress-circle--solid,
#g1-footer .g1-countdown i,
#g1-footer .g1-box--solid .g1-box__icon,
#g1-footer .g1-banda__handle span,
#g1-footer .g1-simple-slider .g1-fullscreen > a:hover,
#g1-footer .g1-simple-slider .g1-nav-direction__prev,
#g1-footer .g1-simple-slider .g1-nav-direction__next,
#g1-footer .g1-mediabox--slider .g1-nav-coin a:after,
#g1-footer .gallery-icon > a:after,
#g1-footer .g1-searchbox #s,
#g1-footer .g1-searchbox .g1-form-actions:before,
#g1-footer .g1-gmap-wrapper .g1-pan-control,
#g1-footer .g1-gmap-wrapper .g1-zoom-control,
#g1-footer .g1-gmap-wrapper .g1-full-map-control a,
#g1-footer .g1-nav--mobile #g1-secondary-nav-menu > li > a,
#g1-footer #lang_sel ul ul a,
#g1-footer #g1-primary-nav-switch,
#g1-footer #wp-calendar #prev a:after,
#g1-footer #wp-calendar #next a:after {
    color:#ffffff;

}
#g1-footer .g1-searchbox #s::-webkit-input-placeholder {
    color:#ffffff;

}
#g1-footer .g1-searchbox #s:-moz-placeholder {
    color:#ffffff;

}
#g1-footer .g1-searchbox #s::-moz-placeholder {
    color:#ffffff;

}
#g1-footer .g1-searchbox #s:-ms-input-placeholder {
    color:#ffffff;

}
{
    background-color:#ffffff;

}
#g1-footer .g1-searchbox #s {
    border-color:#ffffff;

}
#g1-footer .g1-progress-circle--solid .g1-color-scheme {
    outline-color:#ffffff;

}
/* background */
body {
    background-color:#ffffff;

}
body { background-color:#ffffff;}
#g1-top > .g1-background { }
#g1-preheader { padding-top:3px; }
#g1-preheader > .g1-background { border-top-width:3px; border-top-color:#fb4400; }
#g1-preheader { padding-bottom:1px; }
#g1-preheader > .g1-background { border-bottom-width:1px; border-bottom-color:#e6e6e6; }
#g1-header { padding-bottom:1px; }
#g1-header > .g1-background { border-bottom-width:1px; border-bottom-color:#e6e6e6; }
#g1-precontent { padding-top:0px; }
#g1-precontent > .g1-background { border-top-width:0px; border-top-color:#ff0000; }
#g1-precontent { padding-bottom:0px; }
#g1-precontent > .g1-background { border-bottom-width:0px; border-bottom-color:#ff0000; }
#g1-content { padding-top:0px; }
#g1-content > .g1-background { border-top-width:0px; border-top-color:#ff0000; }
#g1-content { padding-bottom:0px; }
#g1-content > .g1-background { border-bottom-width:0px; border-bottom-color:#ff0000; }
#g1-prefooter { padding-top:0px; }
#g1-prefooter > .g1-background { border-top-width:0px; border-top-color:#ff0000; }
#g1-prefooter { padding-bottom:0px; }
#g1-prefooter > .g1-background { border-bottom-width:0px; border-bottom-color:#ff0000; }
#g1-footer { padding-top:0px; }
#g1-footer > .g1-background { border-top-width:0px; border-top-color:#ff0000; }
#g1-footer { padding-bottom:0px; }
#g1-footer > .g1-background { border-bottom-width:0px; border-bottom-color:#ff0000; }
#g1-id { padding-top:35px; }
#g1-id { padding-bottom:35px; }
#g1-primary-nav {
    margin-top: 35px;
}
#g1-primary-nav-menu > li > a { padding-top:10px; padding-bottom:21px; font-size:15px; line-height:14px; }
#g1-primary-nav .g1-searchbox__switch { padding-top:10px; padding-bottom:20px; }
#g1-primary-nav .g1-cartbox__switch { padding-top:10px; padding-bottom:20px; }
#g1-primary-nav .g1-searchbox__switch { height:14px; }
#g1-primary-nav .g1-cartbox__switch { height:14px; }
#g1-primary-nav
{
margin-top:0px !important;
}
